!!!
%html
  %head
    %meta{:name=>"viewport", :content=>"initial-scale=1.0, user-scalable=no", :charset=>'UTF-8'}
    %title MyPhoto
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href=>"https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href=>"https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700"}
    %link{:type => "text/css", :rel => "stylesheet", :href=>"/css/backgrounds.css"}

  %body
    %nav.navbar.navbar-inverse{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#menu", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #menu.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/"}
                %i.fa.fa-home
                Inicio
            %li
              %a{:href => "/#photo"}
                %i.fa.fa-camera-retro
                Fotos
            %li
              %a{:href => "/#upload"}
                %i.fa.fa-cloud-upload
                Subir
            -if !session[:plt]
              %li
                %a{:href => "#"}
                  %i.fa.fa-google
                  Entrar con Google
              %li
                %a{:href => "/auth/facebook"}
                  %i.fa.fa-facebook
                  Entrar con Facebook
            - else
              %li
                %a{:href => "/auth/logout", :title=>'Cerrar sesión'}
                  %i.fa.fa-user
                  #{session[:name]}
    .jumbotron.bg
      .row.space
      .row.title
        .col-md-3
        .col-md-6
          %h1 My Photo
          %h2 Localiza tus fotos para no olvidar dónde las hiciste
          %h3 Entra con Google o Facebook y guárdalas
        .col-md-3
      .row.space
      .row.delimiter
    .container
      .page-header
        %h1#photo
          %i.fa.fa-camera-retro
          Últimas fotos
        %hr.hr
      .row#photobox.js-masonry{"data-masonry-options"=>'{ "columnWidth": 175, "itemSelector": ".item" }'}
        - @images.each do |img|
          %img.thumbnail.shadow.item{:src => "data:image/png;base64,#{img.image}", :class => "img-responsive"}
      .row
        %h1#upload
          %i.fa.fa-cloud-upload
          Subir imagen
          .pull-right
            //Provisional al contrario para no tener que loguear
            - if session['user']
              %button.btn.btn-success
                %i.fa.fa-google
                Entrar con Google
              %button.btn.btn-success
                %i.fa.fa-facebook
                Entrar con Facebook
            - else
              %button.btn.btn-success#save{"onclick"=>"javascript: document.getElementById(\"saveform\").submit();"}
                %i.fa.fa-save
                Guardar
        %hr.hr
        - if session['user']
          .mark
            %h1 Es necesario haber iniciado sesión para realizar esta acción.
        -else
          %form#saveform{"action"=>"/upload","method"=>"post", "enctype"=>"multipart/form-data"}
            %label.mklabel
              %input#file.hide{"name"=>"myfile","type"=>"file"}
              .mark#list
                %h1
                  %i.fa.fa-cloud-upload
                  Click para seleccionar
    .jumbotron.footer
      %h3 MyPhoto © 2014
    -if @error
      #error-message
        #{@error}
  %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
  %script(src="/js/masonry.pkgd.min.js")
  %script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  %script(src="/js/upload.js")
  %script(src="/js/error.js")

  :javascript
    $(document).ready(function() {
      $("#photobox").masonry({
        "columnWidth": 150,
        "gutter": 10,
        "transitionDuration": '0.6s',
        "itemSelector": '.item'
      });
      $('#save').hide();
    });
    