%html
  %body
    %h1 File uploader!
    %form(method="post" enctype='multipart/form-data')   
      %input(type='file' name='myfile')    
      %br
      %input(type='submit' value='Upload!')
      .row
      - @imagenes.each do |img|
        .col-md-3
          %a.thumbnail
            #{img.latitude} #{img.longitude}
            %img{:src => "data:image/png;base64,#{img.image}", :class => "img-responsive"}
    .row
      .col-md-12
        .panel.panel-primary
          .panel-heading
            %h1 Geolocalización
          .panel-body
            #map-canvas
:javascript
    function initialize() {
        var mapOptions = {
            zoom: 10
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
        #{@str}
    }

